/*mobile first*/

* {
    margin: 0;
    padding: 0;
}

#ir_a {
    visibility: visible;
    width: 62px;
    height: 20px;
    position: relative;
    display: inline-block;
    list-style: none;
   margin-left: 2%;
    color: #ffffff;
}


#menu {
    background-color: #7F027C;
    padding-top: 1.5%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
}

.big {
    visibility: hidden;
    width: 0%;
    height: 0%;
}

.topnav2 {
    visibility: visible;
    float: right;
    
}

.tlf {
    text-decoration: none;
    color: #ffffff;
}

.idaz {
    text-decoration: none;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;

}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content2 li ul {
    color: rgb(5, 4, 4);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 li:hover {
    background-color: rgb(84, 25, 102);
}

#ir_a:hover .dropdown-content2 {
    display: block;
}

#ir_a:hover .dropbtn {
    background-color: #3e8e41;
}

.bandera {
    width: 20px;
    height: 15px;
}
.sanlu{
    height: 30px;
    width: 20px;
}
.sanluis{
height: 30px;
width: 50px;
}

.arbol{
    height: 400px;
    width: 315px;
}
#textea{
    margin-left: -25%;
}
section{
    width: 100%;
}
aside{
    width: 100%;
}

.mando{
    margin-left: 10%;
}

#cerrar-sesion{
    float:right;
    margin: 2%;
    background-color: #7F027C;
}
#cerrar-sesion a{
    color:white;
    background-color: #7F027C;
}
body{
    background-color: rgb(245, 225, 245);
}
#nombres{
    border: solid;
    border-color: #000000;
    padding-left: 20%;
    background-color: #ffffff;
    margin-bottom: 10%;
}

/*-----------------------------MOVIL-ARRIBA---------------------------------------------------*/
@media (min-width:400px) {
    #ir_a {
        visibility: hidden;
        width: 0%;
        height: 0%;
    }

    .topnav2 {
        visibility: hidden;
    }

    .big {
        visibility: visible;
        width: 100%;
    }

    #menu {
        visibility: visible;
        background-color: #7F027C;
        padding-top: 1.5%;
        height: 45px;
        font-family: 'Roboto', sans-serif;
    }

    section {
        width: 80%;
        height: 900px;
    }
    aside{
        width: 26%;
        height:80%;
        position: absolute;
        float: left;
        margin-left: 75%;
    }

    .idaz {
        margin-right: 18%;
        float: left;

    }

    .tlf {
        margin-left: 2%;
        float: left;
    }

    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin-right: 3%;
    }

    a:hover {
        color: black;
    }

    .topnav {
        float: right;
        margin-right: 2%;
    }

    .arbol {
        margin-left: 8%;
        width: 700px;
        height: 800px;
    }

    ul {
        position: relative;
        float: left;
        list-style: none;
        width: 390px;
        margin-top: 0%;
        text-align: right;
    }

    .sanlu {
      height: 70px;
        width: 50px;
        margin-top: 10px;
        position: relative;
        float: left;
    }
    .sanluis{
height: 70px;
width: 90px;
position: relative;
float: left;
    }

    form {
        height: 25px;
    }
    #textea{
        margin-top: 40%;
        margin-bottom: 20%;
        height: 30px;
    }
    
#cerrar-sesion{
    float:right;
    margin: 2%;
    background-color: #7F027C;
}
#cerrar-sesion a{
    color:white;
    background-color: #7F027C;
}
body{
    background-color: rgb(245, 225, 245);
}
#nombres{
    border: solid;
    border-color: #000000;
    color: #000000;
    position: relative;
    float: left;
width: 90%;
    padding-left: 5%;
}
    /*_____________________________________IDIOMAS DEBAJO______________________________________*/
    .dropdown {
        position: relative;
        display: inline-block;
        list-style: none;
        float: left;
        
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #140303;
        min-width: 145px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content li {
        color: rgb(5, 4, 4);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content li:hover {
        background-color: rgb(118, 25, 146);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .bandera {
        margin-top: 0%;
        width: 26px;
        height: 19px;
    }

    .idiomas {
        width: 120px;
    }
}

/*--------------------------------------IDIOMAS ENCIMA----------------------------------*/
/*__________________________________FOOTER_________________________________________*/
img {
    width: 25px;
    height: 25px;
    align-content: center;
    margin: 0.5%;

}

footer {
    background-color: #992b8f;
    font-size: 15px;

}



#centro {
  
    margin: 1%;
    padding: 0px;
    color: #fff;
    margin-left: 10%;
}

#aviso {
    text-align: center;
    margin: 1%;
    padding: 0px;
    font-size: 12px;
    margin-left: 5%;
    text-decoration: none;
    color: #fff;
    height: 35px;
}

.texto1 {
    height: 40px;
    padding-top: 2%;
    text-align: center;
}

#grande {
    height: 35px;
}

#fotos {
    height: 35px;
}

#primera {
    margin-left: 23%;
}

@media (min-width:400px) {
    footer {
        background-color: #992b8f;
        font-size: 20px;

    }



    #centro {
        text-align: center;
        margin-left: 2%;
        padding: 0px;
        color: #fff;
    
        margin: 1%;
    }

    #aviso {
        text-align: center;
        padding: 0px;
        font-size: 15px;
        margin-left: 5%;
        text-decoration: none;
        color: #fff;
        margin-top: 0px;
        position: relative;
        float: left;
    }

    img {
        width: 20px;
        height: 20px;
        align-content: center;
        margin: 1%;
        position: relative;
        float: left;
        margin-top: 5px;
    }

    .texto1 {
        position: relative;
        float: left;
        width: 35%;
        background-color: #992b8f;
        height: 35px;
        padding-top: 0px;

    }

    #fotos {
        position: relative;
        float: left;
        width: 30%;
        background-color: #992b8f;
        height: 35px;
    }

    #primera {
        margin-left: 20%;
    }
}
    
/*--------------------------------CAJA_TEXTO---------------------------*/
#deseo{
    border: 2px;

}
#mensaje{
    margin-top: 3%;
    height: 70px;
    width: 180px;
    margin-left: 10%;
    vertical-align: text-top;
    resize: none;
    
}
#boton{
    margin-left: 40%;
    margin-top: 5%;
    height: 30px;
    width: 40px;
}

#boton_deseo {
     margin-left: 35%;
    width: 90px;
    color: #000000;
}
#negro{
    color: white;
    background-color: #7F027C;
}

/*--------------------------------------MOVIL-_ARRRIBA-------------------------------------------------*/
@media (min-width:400px){
    #deseo{
        height: 345px;
    }
    #mensaje{
        margin-top: 3%;
        height: 200px;
        width: 300px;
        margin-left: 10%;
        vertical-align: text-top;
        resize: none;
        
    }
    #boton{
        margin-left: 40%;
        margin-top: 5%;
        height: 30px;
        width: 60px;
    }
    #boton_deseo {
        margin-left: 55%;
       width: 90px;
       color: #000000;
   }
    #botoncito{
        margin-left: 8%;
        background-color: #7F027C;
        margin-top: 50%;
        height: 35px;
    
    }
    }
